{% extends 'layout.html' %}
{% block content %}
  <div class="content-section">
    <form method="POST" action="">
      {{ form.hidden_tag() }}<!-- This is used to include a hidden field in the form that contains a CSRF token. This token is used to protect against Cross-Site Request Forgery (CSRF) attacks. When the form is submitted, the server will check this token to ensure that the request is coming from a trusted source. -->
      <fieldset class="form-group">
        <Legend class="border-bottom mb-4">Join Today</Legend>

        <div class="form-group">
          {{ form.username.label(class='form-control-label') }}
          {% if form.username.errors %}
            <!-- This code checks if there are any validation errors associated with the username field in the form. If there are errors, it will display them inside a div with the class "alert alert-danger". Each error message will be displayed as a separate paragraph within that div. -->
            {{ form.username(class='form-control form-control-lg is-invalid') }}
            <div class="invalid-feedback">
              {% for error in form.username.errors %}
                <span>{{ error }}</span>
              {% endfor %}
            </div>
          {% else %}
            {{ form.username(class='form-control form-control-lg') }}
          {% endif %}
        </div>

        <div class="form-group">
          {{ form.email.label(class='form-control-label') }}
          {% if form.email.errors %}
            <!-- This code checks if there are any validation errors associated with the email field in the form. If there are errors, it will display them inside a div with the class "alert alert-danger". Each error message will be displayed as a separate paragraph within that div. -->
            {{ form.email(class='form-control form-control-lg is-invalid') }}
            <div class="invalid-feedback">
              {% for error in form.email.errors %}
                <span>{{ error }}</span>
              {% endfor %}
            </div>
          {% else %}
            {{ form.email(class='form-control form-control-lg') }}
          {% endif %}
        </div>

        <div class="form-group">
          {{ form.password.label(class='form-control-label') }}
          {% if form.password.errors %}
            <!-- This code checks if there are any validation errors associated with the password field in the form. If there are errors, it will display them inside a div with the class "alert alert-danger". Each error message will be displayed as a separate paragraph within that div. -->
            {{ form.password(class='form-control form-control-lg is-invalid') }}
            <div class="invalid-feedback">
              {% for error in form.password.errors %}
                <span>{{ error }}</span>
              {% endfor %}
            </div>
          {% else %}
            {{ form.password(class='form-control form-control-lg') }}
          {% endif %}
        </div>

        <div class="form-group">
          {{ form.confirm_password.label(class='form-control-label') }}
          {% if form.confirm_password.errors %}
            {{ form.confirm_password(class='form-control form-control-lg is-invalid') }}
            <div class="invalid-feedback">
              {% for error in form.confirm_password.errors %}
                <span>{{ error }}</span>
              {% endfor %}
            </div>
          {% else %}
            {{ form.confirm_password(class='form-control form-control-lg') }}
          {% endif %}
        </div>
      </fieldset>
      <div class="form-group">{{ form.submit(class='btn btn-outline-info') }}</div>
    </form>
    <div class="border-top pt-3">
      <small class="text-muted">Already Have An Account? <a class="ml-2" href="{{ url_for('users.login') }}">Sign In</a></small>
    </div>
  </div>
{% endblock %}
